<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avcı Security | The Best Tech, The Best Security.</title>
    <link rel="stylesheet" href="../CSS/main.css">
</head>
<body>
    
    <header id= "header" class="site-header">
         <nav class="site-nav">

             <div class="container">

                 <div class="navigation-bar">

                    <section class="left-nav">
                        <!-- İCON OR TEXT  -->
                        <h2 class="main-title">ULTRA<span>SEC
                        </span></h2>
                     </section>
        
                     <section class="middle-nav">
                        <ul class="navbar-links">
                            <li><a href="index.html" class="navbar-link">Home</a></li>

                            <li><a href="about.html" class="navbar-link">About</a></li>
                            
                            <li><a href="product.html" class="navbar-link">Products</a ></li>

                            <li><a href="staff.html" class="navbar-link">Staff</a></li>

                            <li><a href="contact.html" class="navbar-link">Contact</a></li>
                        </ul>
                     </section>
        
                     <section class="right-nav">
                        <ul class="social-links">
        
                            <li><a href="https://www.instagram.com/poyraz_sw/" target="_blank">
                                <i class="fa-brands fa-instagram"></i>
                            </a></li>
        
                            <li><a href="https://www.linkedin.com/in/p%CF%83%E1%83%A7%C9%BE%CE%B1%C8%A5-a%CA%8B%CA%82%D2%BD%CA%8B%D2%BD%C9%BE-252408233/" target="_blank">
                                <i class="fa-brands fa-linkedin-in"></i>
                            </a></li>
        
                            <li><a href="https://www.youtube.com/channel/UCE5oct1IJPM4mReoYYuGFJw" target="_blank">
                                <i class="fa-brands fa-youtube"></i>
                            </a></li>
        
                            <li><a href="https://twitter.com/PoyrazAvsever" target="_blank">
                                <i class="fa-brands fa-twitter"></i>
                            </a></li>

                        </ul>
                     </section>

                 </div>

                 <div id="YanMenu" class="sidenav">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">
                  
                    &times;</a>
                  
                    <a href="index.html" class="navbar-link">Home</a>
                    <a href="about.html" class="navbar-link">About</a>
                    <a href="product.html" class="navbar-link">Products</a >
                    <a href="staff.html" class="navbar-link">Staff</a>
                    <a href="contact.html" class="navbar-link">Contact</a>
                    <a href="https://www.instagram.com/poyraz_sw/" target="_blank">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/p%CF%83%E1%83%A7%C9%BE%CE%B1%C8%A5-a%CA%8B%CA%82%D2%BD%CA%8B%D2%BD%C9%BE-252408233/" target="_blank">
                        <i class="fa-brands fa-linkedin-in"></i>
                    </a>
                    <a href="https://www.youtube.com/channel/UCE5oct1IJPM4mReoYYuGFJw" target="_blank">
                        <i class="fa-brands fa-youtube"></i>
                    </a>
                    <a href="https://twitter.com/PoyrazAvsever" target="_blank">
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                  </div>
                  
                  
                  <span class="openmen-btn" onclick="openNav()">
                    &#9776; 
                    </span>
               
             </div>
             
         </nav>


         <section class="contact" id="i-contact">
            <div class="container">

                <div class="contact-section">
    
                    <div class="contact-middle">
                        <h1 class="c-main-title">CONTACT <span>US</span></h1>
        
                        <p class="c-main-text">
                            Do you have any <span>questions?</span> 
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <div class="container">
            <section class="contact-form">

                <form action="https://formspree.io/f/xgednenb"
                method="POST" class="ct-form">

                    <div class="name">
                        <input type="text" id="name" class="npt-i" placeholder="Name & Surname" name="name" required>
                    </div>

                    <div class="email">
                        <input type="email" id="email" class="npt-i" placeholder="Email" name="email" required> 
                    </div>
                
                    <div class="message">
                        <textarea class="npt-i" id="npt-ms" placeholder="Messages" name="messages" required></textarea>
                    </div>

                    <button type="submit" class="btn-outline">SEND</button>
                </form>

            </section>
        </div>
        


    <br><br><br><br><br><br>
    <div class="footer-all">
        <div class="container">

            <footer class="footer">
    
                <div class="about-footer">
                    <h5>ABOUT US</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam quae harum vero porro possimus ex. Laudantium placeat id optio suscipit?</p>
                </div>
    
                <div class="products-footer">
                    <h5>PRODUCTS</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam quae harum vero porro possimus ex. Laudantium placeat id optio suscipit?</p>
                </div>
    
                <div class="references-footer">
                    <h5>REFERENCES</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam quae harum vero porro possimus ex. Laudantium placeat id optio suscipit?</p>
                </div>
                
                <div class="contact-footer">
                    <h5>CONTACT US</h5>
                    <p>ultrasec@ults.com</p>
                    <p>+1 555 444 20 20</p>
                    <p>America / New York, Crying street , Across the Red Building Cafe</p>
                </div>

                <hr color="rgb(154, 243, 255)">
            </footer>
            <div class="container">
                <div class="footer-bottom">
                    <p>© 2022 All right reserved.| Poyraz Avsever</p>

                    <a href="#header" class="gotop"><i class="fa-solid fa-arrow-up"></i></a>
                </div>
            </div>
            
        </div>
    </div>


    <script src="https://kit.fontawesome.com/1886ee8049.js" crossorigin="anonymous"></script>
    <script src="../Scripts/main.js"></script>
</body>
</html>